.correct {
    border-color: green;
}

.incorrectlyChosen {
    border-color: red;
}

.deactivateLabel {
    pointer-events: none;
}

#questionVideo {
    display: inline-block;
}

#questionImage {
    display: inline-block;
    margin: auto;
}

#infoContainer {
    margin: 20px 0;
}

#testInfoContainer {
    border: 2px solid var(--happy-color);
    padding: 10px;
}

#timeLeftProgressBar {
    display: block;
    width: 100%;
    margin: 5px 0;
}