#questionVideo {
    display: inline-block;
    visibility: hidden;
}

#questionImage {
    display: inline-block;
    visibility: hidden;
    margin: auto;
}

#infoContainer {
    margin: 20px 0;
}

#testInfoContainer {
    border: 2px solid var(--happy-color);
    padding: 10px;
}

#testInfoContainer progress {
    display: block;
    width: 100%;
}