:root {
    --border-color: #b6b6b6;
    --input-background-color: hsl(0, 0%, 16%);
    --happy-color: #2092df;
    --secondary-happy-color: #5aa2d6;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #fff;
    text-align: center;
}

header {
    color: #fff;
}

header h1 {
    margin: 0;
    padding: 10px;
}

.horizontalContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mediaContainer {
    margin: 0;
}

button {
    cursor: pointer;
}

.defaultButton {
    background-color: var(--happy-color);
    text-decoration: none;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.defaultButton:hover {
    background-color: var(--secondary-happy-color);
    text-decoration: underline;
}

main .defaultButton {
    margin: auto;
}

.invisibleRadio {
    appearance: none;
    display: none;
}

.answerRadioLabel {
    display: inline-block;
    background-color: var(--input-background-color);
    border: 2px solid var(--happy-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 2px 0;
}

.summaryRadioLabel {
    display: inline-block;
    background-color: var(--input-background-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 2px 0;
}

.answerRadioLabel:hover {
    background-color: var(--secondary-happy-color);
    border-color: var(--secondary-happy-color);
    text-decoration: underline;
}

.invisibleRadio:checked + .answerRadioLabel {
    background-color: var(--happy-color);
    border-color: var(--happy-color);
}

.invisibleRadio:checked + .summaryRadioLabel {
    background-color: rgb(117, 117, 117);
}